{
  "reporter": [
    "lcov",
    "text"
  ],
  "include": [
    "lib/**/*.ts"
  ],
  "exclude": [
    "lib/**/*.spec.ts",
    "lib/**/__tests__/**"
  ],
  "extension": [
    ".ts"
  ],
  "all": true
}
